.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-color: #c7cfdb;
}
h1 {
  margin: 30px;
  font-size: 8rem;
  color: #3232df;
}
p {
  font-size: 2rem;
  color: #e40f2f;
}
img {
  width: 75%;
}
